@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(20, 47, 102) 3%,
    rgb(24, 69, 132) 38%,
    rgb(50, 100, 150) 68%,
    rgb(54, 84, 134) 98%
  );
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.navbar {
  background-color: rgba(66, 99, 152);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: auto;
  margin-left: 0px;
  list-style: none;
  font-weight: 600;
  position: relative;
}

.navbar li a {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 0;
  margin: 0 20px;
  text-decoration: none;
  color: #f4f4f9;
}

.navbar li a.active {
  font-weight: 800;
}

.navbar li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f4f4f9;
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

.navbar li a.active::after {
  width: 100%;
}

button#login {
  background-color: #28a746;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

button#login:hover {
  background-color: rgba(11, 244, 65, 0.8);
  transform: scale(1.05);
}

button#logout {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

button#logout:hover {
  background-color: rgba(220, 53, 69, 0.8);
  transform: scale(1.05);
}

.scrollable-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  position: relative;
  top: 4rem;
  width: 100%;
  padding: 15px 30px 30px;
  background-color: transparent;
  color: #1c1f26;
  gap: 1.25em;
}

.scrollable-panel .card {
  background: #fff;
  flex: 1 1 250px;
  max-width: 250px;
  margin-bottom: 1.25em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  flex-shrink: 0;
  z-index: 10;
  box-sizing: border-box;
}

.scrollable-panel .img-block {
  position: relative;
  display: block;
  width: 100%;
  margin: 1em auto;
  overflow: hidden;
}

.scrollable-panel .card-img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 3px solid #000000;
  object-fit: cover;
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

.scrollable-panel .card-content {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.scrollable-panel .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.scrollable-panel .card-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.scrollable-panel .card-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scrollable-panel .card-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.scrollable-panel .card-button:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #566787;
  background-color: #e2f2ff;
  border: 1px solid #4b5363;
  width: 80%;
  max-width: 500px;
  border-radius: 3px;
}

.modal-header {
  padding: 20px 30px;
  border-bottom: 1px solid #4b5363;
}

.close,
.close {
  color: hsl(0, 0%, 67%);
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .input-group {
  margin: 20px 30px;
}

.modal .input-group label {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 5px;
  font-size: smaller;
}

.modal .input-group input {
  display: block;
  width: 100%;
  padding: 0.75em;
  border: 1px solid #4b5363;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #333;
}

.modal .input-group textarea {
  background-color: #fff;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 5em;
  min-height: 5em;
  max-height: 300px;
  color: #333;
  border: 1px solid #4b5363;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding: 0.75em;
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  background-color: #bed8ec;
  padding: 20px 30px;
}

.modal .modal-footer > * {
  width: 7.5em;
  padding: 0.5em 1.5em;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.modal-footer button {
  margin-left: 10px;
  border: 1px solid #c0c6d1;
  background-color: #f9f9f9;
  color: black;
}

.modal-footer button:hover {
  background-color: #c7c7c7;
}

.modal-footer input[type="submit"] {
  margin-left: 10px;
  border: 1px solid #4f78a5;
  background-color: #007bff;
  color: white;
}

.modal-footer input[type="submit"]:hover {
  background-color: #0056b3;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 6em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@media (max-width: 1120px) {
  .scrollable-panel {
    align-items: center;
    justify-content: center;
  }
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .navbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-content h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 0.1rem;
    word-wrap: break-word;
  }

  .navbar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .navbar-content ul li {
    margin: 10px 0;
    text-wrap: pretty;
    text-align: center;
  }

  .navbar-content button#logout {
    text-align: center;
    padding: 0.75rem 5rem;
    margin: 10px 0 0 0;
  }

  .scrollable-panel {
    margin-top: 10rem;
  }
}

@media (max-width: 460px) {
  .scrollable-panel .card-title {
    font-size: 1.2em;
  }

  .scrollable-panel .card-description {
    font-size: 0.8em;
  }

  .scrollable-panel .card-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .scrollable-panel .card-content {
    padding: 15px;
  }
}
