@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes slideInBounce {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }

  50% {
    opacity: 1;
    transform: translateY(-5px) scale(1.05);
  }

  70% {
    transform: translateY(5px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  20% {
    opacity: 1;
  }

  40% {
    transform: rotateX(-30deg);
  }

  60% {
    transform: rotateX(-12deg);
  }

  80% {
    transform: rotateX(2deg);
  }

  90% {
    transform: rotateX(-2deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow: auto;
  background: linear-gradient(315deg,
      rgb(20, 47, 102) 3%,
      rgb(24, 69, 132) 38%,
      rgb(50, 100, 150) 68%,
      rgb(54, 84, 134) 98%);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

.navbar {
  background-color: rgba(66, 99, 152);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  user-select: none;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #426398;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin: 0 10px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #f4f4f9;
  font-weight: 600;
  position: relative;
  padding: 0 0 5px 0;
  margin: 0 20px;
}

.navbar .nav-links li a.active,
.navbar .nav-links a:hover {
  font-weight: 800;
}

.navbar .nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f4f4f9;
  transition: width 0.3s ease;
}

.navbar .nav-links li a:hover::after,
.navbar .nav-links li a.active::after {
  width: 100%;
}

.navbar #nav-check {
  position: absolute;
  visibility: hidden;
}

.navbar .nav-btn {
  display: none;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar .nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar .nav-btn:hover::after {
  width: 100%;
  left: 0;
}

.navbar .nav-btn label {
  display: block;
  cursor: pointer;
  width: 65px;
  height: 65px;
}

.navbar .nav-btn label span {
  height: 5px;
  width: 50px;
  display: block;
  margin: 10px auto;
  position: relative;
  background-color: #fff;
  transition: 0.3s ease;
  user-select: none;
}

button#login {
  background-color: #28a746;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

button#login:hover {
  background-color: rgba(11, 244, 65, 0.8);
  transform: scale(1.05);
}

button#logout {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

button#logout:hover {
  background-color: rgba(220, 53, 69, 0.8);
  transform: scale(1.05);
}

.scrollable-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  position: relative;
  top: 4rem;
  width: 100%;
  padding: 15px 80px 80px;
  background-color: transparent;
  color: #1c1f26;
  gap: 1.25em;
}

.scrollable-panel .card {
  background: #fff;
  flex: 1 1 250px;
  max-width: 250px;
  margin-bottom: 1.25em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  flex-shrink: 0;
  z-index: 10;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scrollable-panel .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.scrollable-panel .img-block {
  position: relative;
  display: block;
  width: 100%;
  margin: 1em auto;
  overflow: hidden;
}

.scrollable-panel .card-img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 3px solid #000000;
  object-fit: cover;
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

.scrollable-panel .card-content {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.scrollable-panel .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.scrollable-panel .card-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.scrollable-panel .card-title,
.scrollable-panel .card-description {
  opacity: 0;
  animation: slideInBounce 0.6s ease-out forwards;
  animation-delay: var(--delay);
  transform-origin: top;
}

.scrollable-panel .card-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scrollable-panel .card-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.scrollable-panel .card-button:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.accordion {
  flex-basis: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  margin: 10px 50px;
}

.accordion ul {
  box-shadow: 0 10px 0 0 #40ffdf inset;
  border-radius: 10px;
  background-color: #fefffa;
  padding: 30px;
  list-style: none;
  perspective: 900;
}

.accordion .header {
  display: flex;
  align-items: center;
  padding: 0 0 20px;
}

.accordion h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
  padding: 18px 0;
  animation: flipdown 0.5s ease both;
}

.accordion h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.accordion .img-block {
  margin: 0;
  width: 180px;
}

.accordion p,
.accordion .accordion-list-item {
  color: #000000;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  max-height: 800px;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.accordion li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  border-top: 1px dotted grey;
  animation: flipdown 0.5s ease both;
}

.accordion li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.accordion li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.accordion li:nth-of-type(3) {
  animation-delay: 1.0s;
}

.accordion li:last-of-type {
  padding-bottom: 0;
}

.accordion i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.accordion i::before,
i::after {
  content: "";
  transition: all 0.25s ease-in-out;
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

.accordion i::before {
  transform: translate(-2px, 0) rotate(45deg);
}

.accordion i::after {
  transform: translate(2px, 0) rotate(-45deg);
}


.accordion-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: visible;
}

.item {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
  transition: background-color 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

.item:hover {
  background-color: #f0f0f0;
  padding: 20px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.item:active {
  transform: translateY(1px);
}

.item:last-child {
  margin-bottom: 0;
}


.accordion input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.accordion input[type=checkbox]:checked~p,
.accordion input[type=checkbox]:checked~.accordion-list-item {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.accordion input[type=checkbox]:checked~i::before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion input[type=checkbox]:checked~i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #566787;
  background-color: #e2f2ff;
  border: 1px solid #4b5363;
  width: 80%;
  max-width: 500px;
  border-radius: 3px;
}

.modal-header {
  padding: 20px 30px;
  border-bottom: 1px solid #4b5363;
}

.close,
.close {
  color: hsl(0, 0%, 67%);
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .input-group {
  margin: 20px 30px;
}

.modal .input-group label {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 5px;
  font-size: smaller;
}

.modal .input-group input {
  display: block;
  width: 100%;
  padding: 0.75em;
  border: 1px solid #4b5363;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #333;
}

.modal .input-group textarea {
  background-color: #fff;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 5em;
  min-height: 5em;
  max-height: 300px;
  color: #333;
  border: 1px solid #4b5363;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding: 0.75em;
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  background-color: #bed8ec;
  padding: 20px 30px;
}

.modal .modal-footer>* {
  width: 7.5em;
  padding: 0.5em 1.5em;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.modal-footer button {
  margin-left: 10px;
  border: 1px solid #c0c6d1;
  background-color: #f9f9f9;
  color: black;
}

.modal-footer button:hover {
  background-color: #c7c7c7;
}

.modal-footer input[type="submit"] {
  margin-left: 10px;
  border: 1px solid #4f78a5;
  background-color: #007bff;
  color: white;
}

.modal-footer input[type="submit"]:hover {
  background-color: #0056b3;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 6em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-info {
  font-size: 14px;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 8px; 
}

.pagination-controls a,
.pagination-controls .page-number,
.page-number {
  padding: 0.25em 0.75em;
  text-decoration: none;
  color: #e0e0e0;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.5s;
  display: inline-block; 
  min-width: 2.5em;
  text-align: center; 
}

.pagination-controls a:hover,
.pagination-controls .page-number:hover,
.page-number:hover {
  background-color: #4c93de;
  color: #ffffff; 
}

.pagination-controls .active {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

@media (max-width: 1120px) {
  .scrollable-panel {
    align-items: center;
    justify-content: center;
  }
}

/* Responsive Breakpoints */
@media (max-width: 789px) {
  .navbar {
    padding: 2em;
  }

  .navbar .nav-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .navbar .nav-links {
    position: absolute;
    flex-flow: column nowrap;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 91px;
    right: 0px;
    gap: 1em;
  }

  .navbar .nav-links li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .navbar #nav-check:not(:checked)~.nav-links {
    height: 0;
  }

  .navbar #nav-check:checked~.nav-links {
    height: auto;
    overflow-y: auto;
  }

  .navbar button#logout {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1em;
  }

  .scrollable-panel {
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .scrollable-panel .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .scrollable-panel .img-block {
    width: auto;
  }

  .scrollable-panel .card-title {
    font-size: 1.2em;
  }

  .scrollable-panel .card-description {
    font-size: 0.8em;
  }

  .scrollable-panel .card-button,
  .accordion .page-number {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .scrollable-panel .card-content {
    padding: 15px;
  }

  .scrollable-panel .accordion h1 {
    font-size: 1.4em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
  }

  .scrollable-panel .accordion h2 {
    font-size: 1.1em;
    font-weight: 400;
    width: 80%;
  }

  .scrollable-panel .accordion-list-item {
    gap: 5px;
    padding-bottom: 6px;
  }

  .scrollable-panel .accordion .item {
    font-size: 0.8em;
    padding: 10px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .scrollable-panel .accordion .item:hover {
    background-color: #f0f0f0;
    padding: 15px 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
}