@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #212121;
  overflow: hidden;
  position: relative;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

section .signin,
section .signup {
  position: absolute;
  width: 500px;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

section .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.content h2 {
  font-size: 2em;
  color: #00d4ff;
  text-transform: uppercase;
}

.content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form .inputBox {
  width: 100%;
  position: relative;
}

form .inputBox input {
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

form .inputBox input#remember_me {
  width: auto;
  margin: 0 10px;
}

form .inputBox svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

form .inputBox label[for="remember_me"] {
  color: #e9e0e0;
  margin-left: 5px;
}

form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

form .inputBox input:focus~i,
form .inputBox input:valid~i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

form .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form .links a {
  color: #e9e0e0;
  text-decoration: none;
  cursor: default;
}

form .links a:nth-child(2) {
  color: #00d4ff;
  font-weight: 600;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

form .links a:nth-child(2):hover {
  color: #218ed7;
  transform: scale(1.1);
  text-decoration: underline;
}

form .inputBox input[type="submit"] {
  padding: 0.5em 0 0.75em;
  border: 2px solid #828282;
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}


input[type="submit"]:active {
  opacity: 0.6;
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: noise-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

@media (max-width: 740px) {
  section .signin,
  section .signup {
    width: 80vw; 
    max-width: 500px; 
  }

  form .inputBox input {
    padding-right: 42px; 
  }
}

@media (max-width: 423px) {
  form .links,
  label {
    word-break: keep-all;
    font-size: 0.8em;  
    line-height: 1.1;  
    padding: 0;        
  }
}